/*
color scheme: ;
*/

/* basic elements */
html {
	font-size: 100%;
	font-family: Trebuchet MS;
}
body {
	background-image: url("./images/bg3.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* nav bar */
nav {
	margin: 10rem auto;
	text-align: center;
	position: relative;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	display: block;
	padding: .75rem;
	background-color: white;
	text-decoration: none;
}
nav a:hover {
	background-color: black;
}

/* specific elements */
.info-column {
	margin: 3rem auto;
	padding: 1rem;
	border: 1px solid white;
	text-align: center;
	position: fixed;
}

