/*
color scheme: ;
*/

/* basic elements */
body {
	font-family: Trebuchet MS;
	font-size: 100%;
	background-image: url("./images/bg3.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	max-width: 70%;
	margin: auto;
}
header {
	text-align: center;
	background: grey;
	opacity: 75%;
	color: white;
	border-radius: .5em;
}
main {
	background-color: white;
	border-radius: .5em;
	margin: 1em 0 0 0;
	padding: 1em;
	opacity: 75%;
	text-align: center;
}

/* nav bar */
nav {
	overflow: hidden;
	background-color: black;
}
nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}
nav a:hover {
	background-color: grey;
	color: black;
}



/* specific elements */
header h1 {
	padding: 1.5em;
}